{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 3 versions"]
        },
        "debug": false
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "theme": "./src/theme",
          "utils": "./src/utils"
        }
      }
    ],
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-regenerator",
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
