{
	"extends": ["airbnb", "plugin:prettier/recommended"],
	"globals": {
		"__dirname": true,
		"document": true,
		"exports": true,
		"module": true,
		"process": true,
		"window": true
	},
	"rules": {}
}
