#searchInputGroup {
	margin: 20px 0px;
}

.tdWeather, .thWeather {
	vertical-align: middle !important;
	text-align: center !important;
}

.tdWeather {
	height: 200px;
	width: 250px;
	min-width: 200px
}

#locationBtn {
	cursor: pointer;
}

#OrOption {
	font-size: 3em;
	margin-bottom: 30px;
	text-align: center;
}

.containerComp {
	margin-top: 50px;
	display: block;
}
