h1, h2, h3, h4, h5, h6 {
  font-family: Courgette, Verdana, Geneva, sans-serif; }

a .tealButton {
  background: #00ffc0;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  font-family: Courgette, Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-width: 0;
  -webkit-transition: background 2s, box-shadow 0.5s;
  -moz-transition: background 2s, box-shadow 0.5s;
  -o-transition: background 2s, box-shadow 0.5s;
  transition: background 2s, box-shadow 0.5s;
  cursor: pointer;
  box-shadow: 5px 5px 2px grey; }
  a .tealButton.tealButton:hover {
    background: white;
    color: #00ffc0;
    -webkit-transition: background 1s, box-shadow 0.5s;
    -moz-transition: background 1s, box-shadow 0.5s;
    -o-transition: background 1s, box-shadow 0.5s;
    transition: background 1s, box-shadow 0.5s;
    box-shadow: 10px 10px 5px grey; }

* {
  max-width: 100%; }

.tealButton {
  position: relative;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 30px 0 50px 0; }

form input, .icon{
  display: inline-block;
  position: relative;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding-left: 10px; }
.icon {
  color: #00ffc0;
  margin-left: -120px;
  text-shadow: 0;
  -webkit-transition: text-shadow 0.5s;
  -moz-transition: text-shadow 0.5s;
  -o-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s; }
.icon:hover {
  cursor: pointer;
  -webkit-transition: text-shadow 0.5s;
  -moz-transition: text-shadow 0.5s;
  -o-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
  text-shadow: 10px 10px 5px grey; }

form input {
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border-color: #00ffc0;
  margin-bottom: 10px;
  font-family: Courgette, Verdana, Geneva, sans-serif;
  height: auto;
  font-size: 1.5em;
  outline: none;
	padding: 0 20px;}

.snippet {
  background: #343d46;
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 10px auto;
  color: white;
  box-shadow: 0;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s; }
.snippet:hover {
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer; }

.snippetLinks {
  color: #00ffc0; }

  .snippetLinks:hover {
    color: white; }

@media only screen and (max-width: 497px) {
  .icon {
    display: block;
    padding: 20px 0 0 0;
    margin-left: 190px; } }

/*# sourceMappingURL=wiki.css.map */
