#lifeContent{
  width: 420px;
  height: 420px;
  display: inline-block;
}

.lifeSquare {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: block;
  float: left;
  background-color: #eff5ff;
}
.lifeSquareActive {
  background-color: green;
}
