#calcBackground {
  padding: 50px 0 100px 0;
  background:
    linear-gradient(
      limegreen,
      transparent
    ),
    linear-gradient(
      90deg,
      skyblue,
      transparent
    ),
    linear-gradient(
      -90deg,
      coral,
      transparent
    );

  background-blend-mode: screen;
}
